
footer {
    background-color: $color-footer-fondo;
    color: $color-footer-texto;
    text-align: center;
    padding: 40px;
    margin-top: 0;

    img {
        margin-bottom: 10px;
        height: 30px;
    }
}