// Paleta de color
$color-primario: #0085C9;
$color-secundario: #005A87;
$color-terciario: #66BDE8;
$color-blanco: #ffffff;
$color-fondo: #E6F3F9;
$color-acento: #00B894;
$color-texto: #1F1F1F;

// Tipografía
$fuente-quicksand: 'Quicksand', sans-serif;
$fuente-unbounded: 'Unbounded', sans-serif;

// Colores específicos para elementos
$color-navbar-fondo: $color-terciario;
$color-texto-navbar: $color-secundario; 
$color-btn-outline-navbar: $color-secundario; 
$color-bg-btn-outline-navbar-hover: $color-fondo;
$color-texto-btn-outline-navbar-hover: $color-terciario;
$color-border-form-control: $color-secundario;
$color-footer-fondo: $color-secundario;
$color-footer-texto: #ffffff;

// Espaciados y tamaños comunes
$espaciado-seccion-general: 60px; 
$padding-seccion-hero: 0 20px;
$altura-seccion-hero: 90vh;
$box-shadow-cards: 0 6px 20px rgba(0, 0, 0, 0.1);
$border-radius-card: 16px;