// Reset de CSS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Import de Google Fonts 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

// Body
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: $fuente-quicksand;
    line-height: 1.6;
    color: $color-texto;
}

.custom-navbar {
    margin-bottom: 0 !important;
}

// Main
.main-content {
    overflow: hidden;
}